@font-face {
  font-family: "MontserratRegular";
  src: url("./MontserratRegular.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("./MontserratBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MontserratRegular";
}

:root {
  --scrollbar-background: rgb(232, 241, 244);
  --scrollbar-thumb: rgb(0, 182, 237, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb);
}

.v-selection-control--density-default {
  --v-selection-control-size: initial !important;
}
.v-selection-control__wrapper {
  margin-right: 5px !important;
}
.v-input--density-default {
  --v-input-control-height: 0;
  --v-input-padding-top: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-field {
  background: rgb(232, 241, 244);
}
.v-input--horizontal {
  width: 100%;
}
